---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: hello-world-web-1
  annotations:
    flux.weave.works/automated: "true"
  name: hello-world-web-1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-world-web-1
  strategy: {}
  template:
    metadata:
      labels:
        app: hello-world-web-1
    spec:
      containers:
      - image: gcr.io/gcr-test-223818/hello-world-1:master-065a5ee
        name: hello-world-web-1
        resources: {}
status: {}
